body{
	background:#2f363d;
}
div.div_top{
	position:fixed;
	left:0;
	top:0;
	background:#14191e;
	color:#eeeeee;
	height:50;
	width:100%;
	z-index:999;
}
div.div_left{
	position:fixed;
	left:0;
	top:50;
	background:#24292e;
	color:#eeeeee;
	width:100;
	height:100%;
}
div.div_center{
	position:absolute;
	top:60px;
	left:80px;
	width:80%;
	height:80%;
}
div.div_top_text_wrapper{
	position:absolute;
	left:30;
	height:50;
	color:#eeeeee;
	background:#14191e;
}
div.div_top_text_wrapper:hover{
	position:absolute;
	left:30;
	height:50;
	color:#14191e;
	background:#eeeeee;
}
img.img_logo{
	height:50;
	width:70;
}
img.img_left{
	height:70;
	width:70;
}
p.p_left_hide{
	color:#123456;
}
p.p_left_show{
	color:#654321;
}
a:link{
	color:#eeeeee;
}
a:visited{
	color:#eeeeee;
}